#about {
    position: absolute;
    top: -7rem;
}

#resume {
    position: absolute;
    top: -11rem;
}

#projects {
    position: absolute;
    top: -5.8rem;
}

#contact {
    position: absolute;
    top: -6rem;
}