.scroll-icon {
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translate(-50%, -50%);
  color: $color-off-white;
  width: 10rem;
  z-index: 1000;
  transition: all .2s;
  animation: fadein 1.5s;
  

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


   
  &:hover{
    transform: translate(-50%, -58%) scaleY(1.05);
    opacity: 1;
  }
  &:active{
    transform: translate(-50%, -50%);
  }

  @include respond(tab-land) {
    display: none;

  }
}

.fade-out {
  animation: fadeout 2.5s;

  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
}





