.scroll-icon {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%, -50%);
  color: $color-off-white;
  width: 6rem;
  z-index: 1000;
  transition: all .2s;
  animation: fadein 1.5s;
  opacity: .6;
  

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .6; }
}



   
  &:hover{
    transform: translate(-50%, -58%) scale(1.05);
    opacity: 1;
  }
  &:active{
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  @include respond(tab-land) {
    display: none;

  }
}

.fade-out {
  animation: fadeout 2s;

  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
}





