.form-box {
    margin: 0 auto 3rem;
    position: relative;
    width: 70%;
    
    backface-visibility: hidden;
    border-radius: 0;
    padding: 2rem 3rem 2rem 3rem;
    
    transition: all .2s;
    text-align: left;
    z-index: 20;

    &:hover {
        transform: translateY(-.5rem) scale(1.005);
        outline: .2px solid #e9ff00;
        outline-offset: .2rem;
        background-color: rgba($color-grey, 0.6);

    }


    &__label {
        color: $color-white;
        font-size: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        color: $color-grey;
    }

    @include respond(phone) {
        width: 100%;
        margin: 1rem auto;

        &__label {
            font-size: 1.8rem;
        }
    }
    }

    input[type="text"], textarea[type="text"] {

        background-color : $color-off-white; 
      
      }