body {
    font-family: "Lato", sans-serif;
    line-height: 1.7;
}

.heading-primary {

    color: $color-off-white;
    font-size: 8rem;
    letter-spacing: .3rem;


    &__sub {
        color: $color-off-white;
        font-size: 4rem;
        text-align: center;

    }

    &__huge {
        color: $color-off-white;
        font-size: 36rem;

        &-1 {
            font-size: 46rem;


        }

        &-2 {
            font-size: 44rem;
            color: $color-off-white;


        }

    }

    @include respond(phone) {

        font-size: 5rem;

        &__sub {
            font-size: 3rem;
        }


    }



}

.heading-tertiary {
    color: $color-off-white;
    font-size: 3.5rem;
}

.hr-style {
    border: 1px solid $color-off-white;
    width: 100%;
    margin: 1rem auto 4rem auto;
}

