body {
    font-family: "Lato", sans-serif;
    line-height: 1.7;
}

.heading-primary {

    color: #fff;
    font-size: 8rem;
    letter-spacing: .3rem;
    text-transform: uppercase;

    &__sub{
        color: #fff;
        font-size: 6rem;
       
    }
   
    &__huge{
        color: #fff;
        font-size: 36rem;
        &-1{
            font-size: 46rem;
            
            
        }
        &-2{
            font-size: 44rem;
            color: $color-white;
            
            
        }
       
    }

    @include respond(phone) {
        
       font-size: 5rem;
       &__sub {
        font-size: 3rem;
       } 
            

        }
        
    
    
}

.heading-tertiary {
    color: #fff;
    font-size: 4rem;
}

.heading-four {
    color: $color-white;
    font-size: 5rem;

    @include respond(phone) {
        font-size: 4rem;
    }
}

.hr-style {
    border: 1px solid #fff;
    width: 100%;
    margin: 1rem auto 4rem auto;
}

.getback {
    color: $color-white;
    font-size: 4rem;
}
