.arrow {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 5rem;
  z-index: 1000;
  transition: all .2s;

  
  &:hover{
    transform: translate(-50%, -54%);
    opacity: 1;
  }
  &:active{
    transform: translate(-50%, -50%);
  }

}

