.react-icon {
    position: absolute;
    top: 30%;
    left: 10%;
}

.js-icon {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 10rem;
}

.ruby-icon {
    position: absolute;
    right: 18%;
    bottom: 10%;
    width: 5rem;
}

.html-icon {
    position: absolute;
    left: 13%;
    bottom: 20%;
}