.navigation {
    position: relative;
    opacity: 0.9;
    z-index: 10;
}

.navbar {
    background-color: #999999;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.navbar-brand {
    font-size: 3.5rem;
    margin-right: 4rem;
    font-weight: bold;
    
}
.nav-link {
    font-size: 2rem;
    transition: all .1s;

    &:hover {
        color: black;
        transform: scale(1.05);
    }
    
}

.nav-item {
    margin-right: 2rem;
}


