.navigation {
    position: relative;
    opacity: 0.9;
    z-index: 1;
}

.navbar {
    background-color: #999999;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.navbar-brand {
    font-size: 3.5rem;
    margin-right: 4rem;
    
}
.nav-link {
    font-size: 2rem;
    
}

.nav-item {
    margin-right: 2rem;
}


