.appdiv {
    z-index: -10;
}

.section-hero {
    height: 100vh;
    width: 100%;
    padding-top: 10rem;
    position: relative;
    background-color: $color-black;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    z-index: 1.5;


    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__img {
        opacity: 0.35;
        position: absolute;
        bottom: 0;
        left: -2rem;
        height: 110%;
        overflow: hidden;
    }

    @include respond(tab-land) {

        &__img {
            height: 90rem;


        }

    }

    @include respond(tab-port) {

        &__img {
            height: 40rem;


        }

    }

    @include respond(phone) {
        padding: 5rem;

    }

}




.section-about {
    background-color: #292929;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    padding: 12rem 3rem 6rem 3rem;
    position: relative;
    overflow: hidden;
    z-index: 6;

    &__heading {
        position: absolute;
        top: 10rem;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .3;
        transition: all .2s;

    }

    @include respond(phone) {
        padding: 5rem 1rem;
    }

}

.section-resume {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    padding: 10rem 3rem 6rem 0;
    position: relative;
    z-index: 5;



    &__heading {
        position: absolute;
        top: 9rem;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .7;
        transition: all .2s;
        overflow: hidden;
        width: 100%;

    }

    @include respond(phone) {
        padding: 5rem 1rem 3rem 1rem;
    }

}

.section-projects {

    background-color: #292929;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    position: relative;
    z-index: 4;
    padding: 10rem;
    text-align: center;

    &__heading {
        position: absolute;
        top: 11rem;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .3;
        transition: all .2s;
        overflow: hidden;
        width: 100%;

    }

    @include respond(phone) {
        margin: 0 auto;
        padding: 5rem;

    }
}

.section-contact {
    background-color: $color-black;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    padding: 10rem;
    position: relative;
    z-index: 3;

    &__heading {
        position: absolute;
        top: 12rem;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .7;
        transition: all .2s;
        overflow: hidden;
        width: 100%;

    }

    @include respond(phone) {
        margin: 0 auto;
        padding: 5rem;

    }
}

.section-footer {
    background-color: $color-grey-light;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    padding: 5rem;
    text-align: center;
}