* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7; }

.heading-primary {
  color: rgba(240, 230, 230, 0.904);
  font-size: 8rem;
  letter-spacing: .3rem; }
  .heading-primary__sub {
    color: rgba(240, 230, 230, 0.904);
    font-size: 4rem;
    text-align: center; }
  .heading-primary__huge {
    color: rgba(240, 230, 230, 0.904);
    font-size: 36rem; }
    .heading-primary__huge-1 {
      font-size: 46rem; }
    .heading-primary__huge-2 {
      font-size: 44rem;
      color: rgba(240, 230, 230, 0.904); }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 5rem; }
      .heading-primary__sub {
        font-size: 3rem; } }

.heading-tertiary {
  color: rgba(240, 230, 230, 0.904);
  font-size: 3.5rem; }

.hr-style {
  border: 1px solid rgba(240, 230, 230, 0.904);
  width: 100%;
  margin: 1rem auto 4rem auto; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.appdiv {
  z-index: 1; }

.section-hero {
  height: 100vh;
  width: 100%;
  padding-top: 10rem;
  position: relative;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  z-index: 1.5; }
  .section-hero__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 20; }
  .section-hero__img {
    opacity: 0.35;
    position: absolute;
    bottom: 0;
    left: -2rem;
    height: 110%;
    overflow: hidden; }
  @media (max-width: 75em) {
    .section-hero__img {
      height: 90rem; } }
  @media (max-width: 56.25em) {
    .section-hero__img {
      height: 40rem; } }
  @media (max-width: 37.5em) {
    .section-hero {
      padding: 5rem; } }

.section-about {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding: 5rem 3rem 3rem 3rem;
  position: relative;
  z-index: 1.6; }
  .section-about__heading {
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .3;
    transition: all .2s; }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 5rem 1rem; } }

.section-resume {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding: 0rem 0 3rem 0;
  position: relative;
  z-index: 1.7; }
  .section-resume__heading {
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    transition: all .2s;
    overflow: hidden;
    width: 100%; }
  @media (max-width: 37.5em) {
    .section-resume {
      padding: 5rem 1rem 3rem 1rem; } }

.section-projects {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  position: relative;
  z-index: 1.8;
  padding: 0 10rem 6rem 10rem;
  text-align: center; }
  .section-projects__heading {
    position: absolute;
    top: -2rem;
    left: 45%;
    transform: translate(-50%, -50%);
    opacity: .3;
    transition: all .2s;
    width: 100%; }
  @media (max-width: 37.5em) {
    .section-projects {
      margin: 0 auto;
      padding: 5rem; } }

.section-contact {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding: 5rem 10rem 5rem 10rem;
  position: relative;
  z-index: 1.9; }
  .section-contact__heading {
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    transition: all .2s;
    overflow: hidden;
    width: 100%; }
  @media (max-width: 37.5em) {
    .section-contact {
      margin: 0 auto;
      padding: 5rem; } }

.section-footer {
  position: relative;
  background-color: #999999;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  height: 7rem;
  padding: .5rem;
  text-align: center; }

.navigation {
  position: relative;
  opacity: 0.9;
  z-index: 1000; }
  @media (max-width: 37.5em) {
    .navigation {
      min-width: 30rem;
      padding: none;
      margin: none;
      overflow-x: hidden; } }

.activeLink {
  color: black !important; }
  .activeLink:hover {
    transform: scale(1) !important; }

.navbar {
  background-color: #999999;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  height: 6rem; }

.navbar-brand {
  font-size: 3.5rem;
  margin: 0 7rem 0 2rem;
  font-weight: bold; }

.nav-link {
  font-size: 1.8rem;
  transition: all .1s; }
  .nav-link:hover {
    color: black;
    transform: scale(1.05); }

.nav-item {
  margin-right: 2rem; }

.icon {
  width: 7rem;
  transition: all .2s; }
  .icon:not(:last-child) {
    margin-right: 3rem; }
  .icon:hover {
    transform: scale(1.1); }

.social-icon {
  width: 6rem;
  padding-right: 1rem; }
  .social-icon--footer {
    width: 3rem; }

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden; }

.scroll-icon {
  position: fixed;
  left: 50%;
  bottom: 0.5rem;
  transform: translate(-50%, -50%);
  color: rgba(240, 230, 230, 0.904);
  width: 6rem;
  z-index: 1000;
  transition: all .2s;
  animation: fadein 1.5s;
  opacity: .6; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: .6; } }
  .scroll-icon:hover {
    transform: translate(-50%, -58%) scale(1.05);
    opacity: 1; }
  .scroll-icon:active {
    transform: translate(-50%, -50%);
    opacity: 1; }
  @media (max-width: 75em) {
    .scroll-icon {
      display: none; } }

.fade-out {
  animation: fadeout 2s; }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.about-box {
  margin: 5rem auto 3rem;
  position: relative;
  width: 95%;
  backface-visibility: hidden;
  border-radius: 0;
  padding: 2rem 3rem 6rem 3rem;
  transition: all .2s;
  text-align: left;
  z-index: 20; }
  .about-box:hover {
    transform: translateY(-0.5rem) scale(1.01);
    outline: .2px solid #e9ff00;
    outline-offset: 2rem;
    background-color: rgba(41, 41, 41, 0.6); }
  .about-box-img__2 {
    position: absolute;
    top: -8rem;
    left: 27.5rem;
    border-radius: 50%;
    opacity: 0;
    width: 15rem;
    border: .5px solid #e9ff00; }
    @media (max-width: 37.5em) {
      .about-box-img__2 {
        display: none; } }
  .about-box__text {
    font-size: 1.6rem;
    color: rgba(240, 230, 230, 0.904);
    z-index: 3; }

.experience-box {
  margin: 0 auto 3rem;
  position: relative;
  width: 95%;
  backface-visibility: hidden;
  border-radius: 0;
  padding: 2rem 3rem 6rem 3rem;
  transition: all .2s;
  text-align: left;
  z-index: 20; }
  .experience-box:hover {
    transform: translateY(-0.5rem) scale(1.005);
    outline: .2px solid #e9ff00;
    outline-offset: .2rem;
    background-color: rgba(41, 41, 41, 0.6); }
  @media (max-width: 37.5em) {
    .experience-box {
      margin: 0 auto 8rem auto;
      width: 95%; } }
  .experience-box-icon {
    width: 7rem;
    float: left;
    transition: all .05s;
    backface-visibility: hidden; }
    .experience-box-icon:hover {
      transform: scale(1.1); }
  .experience-box__text {
    font-size: 1.75rem;
    color: rgba(240, 230, 230, 0.904);
    text-align: left; }
  .experience-box__captions {
    font-size: 1.5rem;
    color: rgba(240, 230, 230, 0.904);
    padding-left: 12rem; }
  .experience-box-alt {
    margin: 0 auto 6rem auto;
    text-align: left;
    width: 70%;
    border: none;
    z-index: 20; }
    .experience-box-alt__list {
      list-style: none; }
    .experience-box-alt__item:not(:last-child) {
      margin-bottom: 6rem; }
    .experience-box-alt__item a {
      text-decoration: none;
      color: rgba(240, 230, 230, 0.904); }
      .experience-box-alt__item a:hover {
        text-decoration: underline; }
    .experience-box-alt__link {
      margin: 0 auto;
      text-align: center; }
    @media (max-width: 37.5em) {
      .experience-box-alt {
        margin: 0 0 8rem 0;
        width: 95%; } }

.btn {
  margin: 1rem auto;
  padding: 1rem;
  font-size: 2.5rem;
  border: 2px solid rgba(240, 230, 230, 0.904);
  background-color: transparent;
  transition: all .2s;
  backface-visibility: hidden;
  color: rgba(240, 230, 230, 0.904); }
  .btn-text {
    color: rgba(240, 230, 230, 0.904); }
  .btn:hover {
    transform: translateY(-0.2rem) scale(1.02); }
  .btn-hovergrey:hover {
    background-color: #999999;
    color: #292929;
    border: 2px solid #e9ff00; }
  .btn a {
    text-decoration: none;
    color: #fff; }

.btn-small {
  font-size: 1.5rem;
  padding: .8rem;
  backface-visibility: hidden; }

#about {
  position: absolute;
  top: -7rem; }

#resume {
  position: absolute;
  top: -11rem; }

#projects {
  position: absolute;
  top: -5.8rem; }

#contact {
  position: absolute;
  top: -6rem; }

.project-circle {
  margin: 2rem auto;
  width: 30rem;
  height: 30rem;
  position: relative;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  border: 3px solid #e9ff00;
  border-radius: 50%;
  opacity: .9;
  z-index: 100; }
  .project-circle__image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(1);
    backface-visibility: hidden;
    z-index: 1000; }
  .project-circle__caption {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .project-circle__caption-text {
      font-size: 3rem; }
  .project-circle:hover .project-circle__image {
    transform: scale(0.9);
    filter: blur(9px) brightness(30%);
    opacity: .95; }
  .project-circle:hover .project-circle__caption {
    opacity: 1;
    color: #fff;
    font-size: 3rem; }
  @media (max-width: 37.5em) {
    .project-circle {
      width: 25rem;
      height: 25rem;
      margin: 2rem auto; } }

.footer-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .footer-box__el {
    font-size: 2.5rem;
    color: #292929;
    display: inline-block;
    padding-right: 2rem; }
  .footer-box__text {
    font-family: cursive;
    margin-bottom: 0; }

.form-box {
  margin: 0 auto 3rem;
  position: relative;
  width: 70%;
  backface-visibility: hidden;
  border-radius: 0;
  padding: 2rem 3rem 2rem 3rem;
  transition: all .2s;
  text-align: left;
  z-index: 20; }
  .form-box:hover {
    transform: translateY(-0.5rem) scale(1.005);
    outline: .2px solid #e9ff00;
    outline-offset: .2rem;
    background-color: rgba(41, 41, 41, 0.6); }
  .form-box__label {
    color: #fff;
    font-size: 2rem; }
  .form-box__input {
    font-size: 1.5rem;
    color: #292929; }
  @media (max-width: 37.5em) {
    .form-box {
      width: 100%;
      margin: 1rem auto; }
      .form-box__label {
        font-size: 1.8rem; } }

input[type="text"], textarea[type="text"] {
  background-color: rgba(240, 230, 230, 0.904); }
