* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7; }

.heading-primary {
  color: #fff;
  font-size: 8rem;
  letter-spacing: .3rem;
  text-transform: uppercase; }
  .heading-primary__sub {
    color: #fff;
    font-size: 6rem; }
  .heading-primary__huge {
    color: #fff;
    font-size: 36rem; }
    .heading-primary__huge-1 {
      font-size: 46rem; }
    .heading-primary__huge-2 {
      font-size: 44rem;
      color: #fff; }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 5rem; }
      .heading-primary__sub {
        font-size: 3rem; } }

.heading-tertiary {
  color: #fff;
  font-size: 4rem; }

.heading-four {
  color: #fff;
  font-size: 5rem; }
  @media (max-width: 37.5em) {
    .heading-four {
      font-size: 4rem; } }

.hr-style {
  border: 1px solid #fff;
  width: 100%;
  margin: 1rem auto 4rem auto; }

.getback {
  color: #fff;
  font-size: 4rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.appdiv {
  z-index: -10; }

.section-hero {
  height: 100vh;
  width: 100%;
  padding-top: 10rem;
  position: relative;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  z-index: 1.5; }
  .section-hero__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .section-hero__img {
    opacity: 0.35;
    position: absolute;
    bottom: 0;
    left: -2rem;
    height: 110%;
    overflow: hidden; }
  @media (max-width: 75em) {
    .section-hero__img {
      height: 90rem; } }
  @media (max-width: 56.25em) {
    .section-hero__img {
      height: 40rem; } }
  @media (max-width: 37.5em) {
    .section-hero {
      padding: 5rem; } }

.section-about {
  background-color: #292929;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding: 12rem 3rem 6rem 3rem;
  position: relative;
  overflow: hidden;
  z-index: 6; }
  .section-about__heading {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .3;
    transition: all .2s; }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 5rem 1rem; } }

.section-resume {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding: 10rem 3rem 6rem 0;
  position: relative;
  z-index: 5; }
  .section-resume__heading {
    position: absolute;
    top: 9rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    transition: all .2s;
    overflow: hidden;
    width: 100%; }
  @media (max-width: 37.5em) {
    .section-resume {
      padding: 5rem 1rem; } }

.section-projects {
  background-color: #292929;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  position: relative;
  z-index: 4;
  padding: 10rem;
  text-align: center; }
  .section-projects__heading {
    position: absolute;
    top: 11rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .3;
    transition: all .2s;
    overflow: hidden;
    width: 100%; }
  @media (max-width: 37.5em) {
    .section-projects {
      margin: 0 auto;
      padding: 5rem; } }

.section-contact {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding: 10rem;
  position: relative;
  z-index: 3; }
  .section-contact__heading {
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    transition: all .2s;
    overflow: hidden;
    width: 100%; }
  @media (max-width: 37.5em) {
    .section-contact {
      margin: 0 auto;
      padding: 5rem; } }

.section-footer {
  background-color: #999999;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding: 5rem;
  text-align: center; }

.navigation {
  position: relative;
  opacity: 0.9;
  z-index: 10; }
  @media (max-width: 37.5em) {
    .navigation {
      min-width: 30rem;
      padding: none;
      margin: none;
      overflow-x: hidden; } }

.navbar {
  background-color: #999999;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png"); }

.navbar-brand {
  font-size: 3.5rem;
  margin-right: 4rem;
  font-weight: bold; }

.nav-link {
  font-size: 2rem;
  transition: all .1s;
  color: #fff; }
  .nav-link:hover {
    color: black;
    transform: scale(1.05); }

.nav-item {
  margin-right: 2rem; }

.icon {
  width: 7rem;
  transition: all .2s; }
  .icon:not(:last-child) {
    margin-right: 3rem; }
  .icon:hover {
    transform: scale(1.1); }

.social-icon {
  width: 6rem;
  padding-right: 1rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 0.1;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden; }

.arrow {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 5rem;
  z-index: 1000;
  transition: all .2s; }
  .arrow:hover {
    transform: translate(-50%, -54%);
    opacity: 1; }
  .arrow:active {
    transform: translate(-50%, -50%); }
  @media (max-width: 75em) {
    .arrow {
      display: none; } }

.about-box {
  margin: 5rem auto 3rem;
  position: relative;
  width: 95%;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  backface-visibility: hidden;
  border-radius: .8rem;
  padding: 2rem 3rem 6rem 3rem;
  border: 1px solid #e9ff00;
  transition: all .2s;
  text-align: left; }
  .about-box:hover {
    transform: translateY(-0.5rem) scale(1.01); }
  .about-box-img__2 {
    position: absolute;
    top: -8rem;
    left: 27.5rem;
    border-radius: 50%;
    opacity: 1;
    width: 15rem;
    border: 5px solid #e9ff00; }
    @media (max-width: 37.5em) {
      .about-box-img__2 {
        display: none; } }
  .about-box__text {
    font-size: 1.6rem;
    color: #fff;
    z-index: 3; }

.experience-box {
  position: relative;
  margin: 5rem auto 3rem;
  width: 80%;
  background-color: #292929;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  backface-visibility: hidden;
  border-radius: .8rem;
  padding: 2rem 3rem;
  border: 1px solid #e9ff00;
  transition: all .2s;
  text-align: left; }
  .experience-box-icon {
    width: 7rem;
    float: left;
    transition: all .05s;
    backface-visibility: hidden; }
    .experience-box-icon:hover {
      transform: scale(1.3); }
  .experience-box__text {
    font-size: 1.75rem;
    color: #fff;
    text-align: left; }
  .experience-box__captions {
    font-size: 1.5rem;
    color: #fff;
    padding-left: 12rem; }
  .experience-box-alt {
    margin: 0 auto 6rem auto;
    text-align: left;
    width: 70%;
    border: none; }
    .experience-box-alt__list {
      list-style: none; }
    .experience-box-alt__item:not(:last-child) {
      margin-bottom: 6rem; }
    .experience-box-alt__item a {
      text-decoration: none;
      color: #fff; }
      .experience-box-alt__item a:hover {
        text-decoration: underline; }
    .experience-box-alt__link {
      margin: 0 auto;
      text-align: center; }
    @media (max-width: 37.5em) {
      .experience-box-alt {
        margin: 0 auto 8rem auto;
        width: 95%; } }

.btn {
  margin: 1rem auto;
  padding: 1rem;
  font-size: 2.5rem;
  border: 2px solid #fff;
  background-color: transparent;
  transition: all .2s;
  backface-visibility: hidden;
  color: #fff; }
  .btn:hover {
    transform: translateY(-0.2rem) scale(1.02);
    color: #fff; }
  .btn-hovergrey:hover {
    background-color: #999999;
    color: #292929;
    border: 2px solid #e9ff00; }
  .btn a {
    text-decoration: none;
    color: #fff; }

.btn-small {
  font-size: 1.5rem;
  padding: .8rem;
  backface-visibility: hidden; }

#about {
  position: absolute;
  top: -.6rem; }

#resume {
  position: absolute;
  top: -.6rem; }

#projects {
  position: absolute;
  top: -.6rem; }

#contact {
  position: absolute;
  top: -.6rem; }

.project-circle {
  margin: 2rem auto;
  width: 30rem;
  height: 30rem;
  position: relative;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  border: 3px solid #e9ff00;
  border-radius: 50%;
  opacity: .9; }
  .project-circle__image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(1);
    backface-visibility: hidden; }
  .project-circle__caption {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .project-circle__caption-text {
      font-size: 3rem; }
  .project-circle:hover .project-circle__image {
    transform: scale(0.9);
    filter: blur(9px) brightness(30%);
    opacity: .95; }
  .project-circle:hover .project-circle__caption {
    opacity: 1;
    color: #fff;
    font-size: 3rem; }
  @media (max-width: 37.5em) {
    .project-circle {
      width: 25rem;
      height: 25rem;
      margin: 2rem auto; } }

.footer-box__el {
  font-size: 2.5rem;
  color: #292929;
  display: inline-block;
  padding-right: 2rem; }

.form-box {
  margin: 5rem auto 3rem;
  position: relative;
  width: 60%;
  background-color: #292929;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  backface-visibility: hidden;
  border-radius: .8rem;
  padding: 2rem 3rem 2rem 3rem;
  border: 1px solid #e9ff00;
  transition: all .2s;
  text-align: left;
  opacity: .85; }
  .form-box__label {
    color: #fff;
    font-size: 2rem; }
  .form-box__input {
    font-size: 1.5rem;
    color: #292929; }
  @media (max-width: 37.5em) {
    .form-box {
      width: 100%;
      margin: 1rem auto; }
      .form-box__label {
        font-size: 1.8rem; } }
